In [73]:
import pandas as pd
import numpy as np

In [74]:
dist = pd.read_excel('data/NatureBarValues_survey.xlsx', 
                     sheet_name='sample50num',
                     usecols=['Vegetable','Characteristic','n1','n2','n3','n4','n5'])
dist

            Vegetable Characteristic  n1  n2  n3  n4  n5
0              1_Corn        1_Green  27  12   8   2   1
1              1_Corn       2_Yellow   0   1   1   8  40
2              1_Corn        3_Cheap   1   7  24  10   8
3              1_Corn        4_Tasty   0   1   0   3  46
4              1_Corn        5_Gross  25   9  11   5   0
5            2_Squash        1_Green  22  13   8   5   2
6            2_Squash       2_Yellow   1   2   2  12  33
7            2_Squash        3_Cheap   6  10  12  13   9
8            2_Squash        4_Tasty  10  15  11   9   5
9            2_Squash        5_Gross  13  16  10   9   2
10  3_Brussel sprouts        1_Green  18  12  11   5   4
11  3_Brussel sprouts       2_Yellow   7   3   7  13  20
12  3_Brussel sprouts        3_Cheap   5  12  15  10   8
13  3_Brussel sprouts        4_Tasty  34   6  10   0   0
14  3_Brussel sprouts        5_Gross   6   6  11  13  14
15      4_Green beans        1_Green   0   2  25  15   8
16      4_Green beans       2_Yellow   5   9  15  13   8
17      4_Green beans        3_Cheap   5  13  15  10   7
18      4_Green beans        4_Tasty  26   6   6   9   3
19      4_Green beans        5_Gross  25  10  10   4   1
20             5_Peas        1_Green   2   5  10   8  25
21             5_Peas       2_Yellow  30  10   8   1   1
22             5_Peas        3_Cheap   8  12  12  11   7
23             5_Peas        4_Tasty   5   7  11  14  13
24             5_Peas        5_Gross  41   6   2   1   0

In [75]:
distT = dist.set_index(['Vegetable','Characteristic']).T
distT

Vegetable       1_Corn                                  2_Squash           \
Characteristic 1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross  1_Green 2_Yellow
n1                  27        0       1       0      25       22        1
n2                  12        1       7       1       9       13        2
n3                   8        1      24       0      11        8        2
n4                   2        8      10       3       5        5       12
n5                   1       40       8      46       0        2       33

Vegetable                               ... 4_Green beans                   \
Characteristic 3_Cheap 4_Tasty 5_Gross  ...       1_Green 2_Yellow 3_Cheap
n1                   6      10      13  ...             0        5       5
n2                  10      15      16  ...             2        9      13
n3                  12      11      10  ...            25       15      15
n4                  13       9       9  ...            15       13      10
n5                   9       5       2  ...             8        8       7

Vegetable                       5_Peas
Characteristic 4_Tasty 5_Gross 1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross
n1                  26      25       2       30       8       5      41
n2                   6      10       5       10      12       7       6
n3                   6      10      10        8      12      11       2
n4                   9       4       8        1      11      14       1
n5                   3       1      25        1       7      13       0

[5 rows x 25 columns]

In [76]:
distT = distT.set_index(distT.index.str.replace('n','').astype('int'))
distT

Vegetable       1_Corn                                  2_Squash           \
Characteristic 1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross  1_Green 2_Yellow
1                   27        0       1       0      25       22        1
2                   12        1       7       1       9       13        2
3                    8        1      24       0      11        8        2
4                    2        8      10       3       5        5       12
5                    1       40       8      46       0        2       33

Vegetable                               ... 4_Green beans                   \
Characteristic 3_Cheap 4_Tasty 5_Gross  ...       1_Green 2_Yellow 3_Cheap
1                    6      10      13  ...             0        5       5
2                   10      15      16  ...             2        9      13
3                   12      11      10  ...            25       15      15
4                   13       9       9  ...            15       13      10
5                    9       5       2  ...             8        8       7

Vegetable                       5_Peas
Characteristic 4_Tasty 5_Gross 1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross
1                   26      25       2       30       8       5      41
2                    6      10       5       10      12       7       6
3                    6      10      10        8      12      11       2
4                    9       4       8        1      11      14       1
5                    3       1      25        1       7      13       0

[5 rows x 25 columns]

In [78]:
distT.loc[:,('3_Brussel sprouts','3_Cheap')]

1     5
2    12
3    15
4    10
5     8
Name: (3_Brussel sprouts, 3_Cheap), dtype: int64

In [79]:
distT.iloc[:,0]

1    27
2    12
3     8
4     2
5     1
Name: (1_Corn, 1_Green), dtype: int64

In [80]:
distT.shape

(5, 25)

In [81]:
xx = distT.iloc[:,0]
yy = list(zip(xx,xx.index))
zz = [a*[b] for a,b in yy]
zz

[[1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3, 3, 3, 3],
 [4, 4],
 [5]]

### Flatten list

https://stackoverflow.com/questions/952914/how-do-i-make-a-flat-list-out-of-a-list-of-lists

In [82]:
def flatten_list(ll):
    return [item for sublist in ll for item in sublist]

In [83]:
np.random.permutation(flatten_list(zz))

array([3, 5, 2, 1, 3, 2, 2, 3, 1, 4, 1, 4, 3, 1, 1, 3, 1, 1, 3, 1, 2, 1,
       1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 2, 2, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 3])

### I know I say never to iterate over a DataFrame...

In [84]:
score_lists = []
for ii in range(distT.shape[1]):
    xx = distT.iloc[:,ii]
    yy = list(zip(xx, xx.index))
    zz = [a*[b] for a,b in yy]
    score_lists.append(np.random.permutation(flatten_list(zz)))

### Need list of rows

The list of lists will be interpreted by pd.DataFrame() as a list of rows, but we've generated a list of columns

In [85]:
scores_df = pd.DataFrame(np.array(score_lists).T, columns=distT.columns)
scores_df.reset_index()

Vegetable      index  1_Corn                                  2_Squash  \
Characteristic       1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross  1_Green
0                  0       1        5       3       5       1        1
1                  1       2        5       3       4       1        1
2                  2       4        5       3       5       3        3
3                  3       1        5       3       5       3        3
4                  4       1        4       2       5       1        2
5                  5       1        5       3       5       2        1
6                  6       2        5       4       5       4        1
7                  7       1        4       4       5       3        1
8                  8       1        5       3       5       1        1
9                  9       2        5       4       5       1        3
10                10       1        5       3       5       1        1
11                11       3        5       2       5       4        2
12                12       5        5       2       5       1        2
13                13       3        5       2       5       4        1
14                14       1        5       3       5       3        2
15                15       1        4       4       2       3        2
16                16       1        2       3       5       1        1
17                17       1        5       3       5       3        5
18                18       2        5       4       5       2        5
19                19       3        5       3       4       1        4
20                20       3        5       3       5       3        1
21                21       3        4       3       5       1        3
22                22       1        5       5       5       1        3
23                23       2        5       5       5       1        2
24                24       1        4       4       5       1        2
25                25       1        3       5       5       2        1
26                26       1        5       5       5       1        1
27                27       3        5       1       5       4        1
28                28       2        5       3       5       2        4
29                29       1        5       4       5       2        1
30                30       3        5       3       5       1        1
31                31       2        5       2       5       1        1
32                32       1        5       5       5       4        1
33                33       1        4       3       5       3        1
34                34       1        5       3       5       3        2
35                35       1        5       3       5       2        1
36                36       3        5       3       5       1        3
37                37       2        4       5       5       1        2
38                38       2        5       2       5       1        4
39                39       2        5       4       5       1        2
40                40       1        5       3       5       3        1
41                41       1        4       3       5       1        4
42                42       1        5       4       5       2        4
43                43       1        5       3       4       2        2
44                44       1        5       5       5       1        3
45                45       2        5       3       5       3        3
46                46       1        5       2       5       1        2
47                47       2        5       3       5       1        2
48                48       1        5       4       5       1        1
49                49       4        5       5       5       2        1

Vegetable                                ... 4_Green beans                   \
Characteristic 2_Yellow 3_Cheap 4_Tasty  ...       1_Green 2_Yellow 3_Cheap
0                     4       5       3  ...             4        5       3
1                     3       1       3  ...             3        2       2
2                     5       3       3  ...             3        2       4
3                     5       3       2  ...             3        2       5
4                     5       5       2  ...             3        2       3
5                     4       1       3  ...             3        3       4
6                     5       4       3  ...             3        4       2
7                     5       4       4  ...             4        5       1
8                     5       3       1  ...             3        4       5
9                     5       5       1  ...             3        3       3
10                    5       2       3  ...             3        3       3
11                    5       2       4  ...             4        4       4
12                    5       2       4  ...             3        2       5
13                    2       4       1  ...             4        3       2
14                    4       3       1  ...             4        4       2
15                    4       2       4  ...             4        2       5
16                    5       3       2  ...             5        5       3
17                    4       4       5  ...             4        5       2
18                    4       5       3  ...             5        4       3
19                    4       3       2  ...             5        3       5
20                    5       2       2  ...             3        4       2
21                    5       1       4  ...             3        1       2
22                    1       1       5  ...             3        1       2
23                    5       4       4  ...             4        5       3
24                    5       2       3  ...             3        4       3
25                    5       3       3  ...             4        1       3
26                    4       4       2  ...             3        4       4
27                    5       4       5  ...             3        5       1
28                    5       4       2  ...             4        2       5
29                    5       1       2  ...             5        3       1
30                    5       3       4  ...             3        3       4
31                    4       5       2  ...             2        4       3
32                    5       3       5  ...             4        3       3
33                    5       1       4  ...             3        4       2
34                    5       5       3  ...             3        5       3
35                    5       2       2  ...             4        4       4
36                    4       5       3  ...             5        1       1
37                    5       2       2  ...             3        4       4
38                    2       4       1  ...             4        2       4
39                    5       4       2  ...             3        3       3
40                    4       4       1  ...             5        5       4
41                    5       4       5  ...             3        2       2
42                    4       4       2  ...             3        3       2
43                    5       5       2  ...             5        3       5
44                    5       5       2  ...             2        3       1
45                    5       3       4  ...             4        3       3
46                    5       2       1  ...             4        4       3
47                    5       2       1  ...             3        3       2
48                    3       3       1  ...             5        1       4
49                    5       3       1  ...             3        3       2

Vegetable                       5_Peas
Characteristic 4_Tasty 5_Gross 1_Green 2_Yellow 3_Cheap 4_Tasty 5_Gross
0                    1       1       2        2       4       2       1
1                    4       1       5        1       3       5       1
2                    3       3       1        1       5       2       1
3                    3       1       5        2       3       5       2
4                    4       4       3        2       2       1       1
5                    4       2       5        1       3       4       1
6                    1       2       5        1       4       5       1
7                    1       1       5        1       5       1       1
8                    1       3       4        1       1       2       1
9                    1       1       5        1       4       4       1
10                   1       1       3        3       4       4       1
11                   4       1       1        3       3       4       1
12                   2       1       2        1       1       1       2
13                   4       2       5        1       2       5       1
14                   1       2       3        3       2       4       1
15                   2       4       4        5       2       3       1
16                   1       2       5        3       2       4       1
17                   2       1       5        3       5       1       1
18                   1       3       5        1       3       2       1
19                   5       3       4        2       2       3       1
20                   4       1       5        1       5       5       1
21                   1       1       5        1       2       4       1
22                   1       2       5        1       3       5       1
23                   3       1       5        1       3       5       1
24                   4       1       3        1       4       2       2
25                   3       1       5        4       5       3       1
26                   2       1       4        1       4       1       1
27                   2       2       3        1       3       5       1
28                   5       1       3        2       1       3       1
29                   1       2       2        1       1       5       1
30                   2       4       5        1       1       3       3
31                   1       1       4        1       3       3       1
32                   3       2       5        1       5       4       3
33                   1       3       3        2       4       4       1
34                   1       1       5        3       1       5       1
35                   1       1       5        1       3       3       1
36                   1       1       3        1       2       4       1
37                   1       1       5        3       5       4       1
38                   1       3       2        1       4       3       2
39                   3       1       5        1       4       5       4
40                   1       4       5        1       1       2       1
41                   1       3       4        2       1       3       1
42                   1       3       5        1       2       2       2
43                   4       1       5        1       4       4       1
44                   1       1       4        2       2       5       2
45                   1       5       2        2       4       4       1
46                   4       3       3        2       3       3       1
47                   1       2       3        1       2       3       1
48                   5       3       4        3       3       5       1
49                   1       1       5        1       2       4       1

[50 rows x 26 columns]

In [91]:
scores_tidy = (scores_df
     .assign(respID = 'r' + scores_df.index.astype('str'))
     .melt(id_vars=['respID'], value_name='response')
     .rename(columns={'Vegetable':'veg','Characteristic':'trait'})
)
scores_tidy

     respID     veg    trait  response
0        r0  1_Corn  1_Green         1
1        r1  1_Corn  1_Green         2
2        r2  1_Corn  1_Green         4
3        r3  1_Corn  1_Green         1
4        r4  1_Corn  1_Green         1
...     ...     ...      ...       ...
1245    r45  5_Peas  5_Gross         1
1246    r46  5_Peas  5_Gross         1
1247    r47  5_Peas  5_Gross         1
1248    r48  5_Peas  5_Gross         1
1249    r49  5_Peas  5_Gross         1

[1250 rows x 4 columns]

In [92]:
scores_tidy.to_csv('data/NatureVegSurveyScores.tsv',
                   sep = '\t',
                   encoding = 'utf-8',
                   index = False)